<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUG</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body class="home">

{% include 'partials/navbar.html' %}

<main>
    <section class="hero">
        <div class="hero-content">
            <h2 class="hero-title">Un primo passo verso il benessere.</h2>
            <p class="hero-description">
                HUG aiuta gli studenti a riconoscere possibili segnali di disagio <br> e a favorire un supporto tempestivo.
            </p>
            <a href="{{ url_for('questionario') }}" class="hero-button">
                Vai al questionario
            </a>
        </div>
    </section>
</main>

{% include 'partials/footer.html' %}

</body>
</html>
