body.questionnaire main {
    margin: 50px 0;
}

form {
    max-width: 700px;
    margin: auto;
    padding: 25px 25px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form h2 {
    font-family: var(--font-title);
    font-weight: normal;
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
}

fieldset {
    border: none;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 15px;
    font-weight: normal;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(174, 79, 221, 0.2);
    outline: none;
    border-radius: 20px;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin: 20px auto 0;
}

button[type="submit"]:hover {
    background-color: var(--link-hover);
}